body{
    margin: 0;
    padding: 0; 
}


h1{
    margin: 0;
    padding: 0;
}
h2{
    margin:0;
    padding: 0;
}
p{
    margin:0;
    padding: 0;
}
section{
    margin: 0;
    padding: 0;
}

.HPs1{
    height: 110vh;
    margin: 0;
    padding: 0;
    background-image: url() ;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../../Assets/images/business-partners-shaking-hands\ \(1\).svg) lightgray -182.3px 0px / 118.99% 100% no-repeat;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.HPs1Div{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;  
    justify-content: center;
    gap: 32px;
    width: 70%;
}
.HPs1Div h1{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 150px;
    font-style: normal;
    font-weight: 600;
    line-height: 120px; /* 80% */
    
}
.todoit{
    font-style: italic;
    color: #FAFF00;
    font-size: 128px;
}
.HPs1Div button{
    width: 350px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 90px;
    border-style: none;
    opacity: 0.98;
    background: #8a2be2;
    color: #FFF;
    font-size: 28px;
    font-weight: 600;
}


.HPs2{
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.HPs2Div{
    width: 84%;
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.s2LeftDiv{
    display: flex;
    width: 55%;
    height: 100;
    flex-direction: column;
}
.s2LeftDiv h2{
    color: #000;
    margin: 0;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
}
.styledNeighbor{
    color: #8a2be2;
    font-family: Pacifico;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}
.s2LeftDiv p{
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    padding-left: 3px;
    line-height: 45px; /* 175.932% */
}
.s2imageDiv{
    width: 45%;
}
.s2imageDiv img{
    width: 100%;
    height: 100%;

}



.HPs3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../Assets/images/build-up\ 1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.HPs3 h2{
    color: #000;
    margin: 0;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
}
.whyUsDiv{
    margin-top: 1%;
    width: 57%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}


.HPs4{
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HPs4 h2{
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600; 
    margin-bottom: 30px;
}
.HPs4Buttons{
    display:flex;
    justify-content:center ;
    align-items: center;
    gap:15px;
}
.Hps4Butt1{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 195px;
    height: 50px;
    border-radius: 27px;
    border-style: none;
    background-color: #8a2be2;
    flex-shrink: 0;
}
.Hps4Butt2{
    color: #8a2be2;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 195px;
    height: 50px;
    border-radius: 27px;
    background-color: #FFF;
    stroke-width: 1px;
    stroke: #000;
    flex-shrink: 0;
}

