.orders{
    display: flex;
    justify-content: center;
}
.orders .container{
    width: 1400px;
    padding: 50px 0px;
}
.container .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title button{
    background-color: #8a2be2;
    border: none;
    font-weight: 500;
    border-radius: 8px;
    color: white;
    height: 40px;
    width: 100px;
    cursor: pointer;
    padding: 10px;
}
table{
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
th{
    text-align: left;
    font-family: poppins;   
    font-weight: 500;
    color: black;
}
tr{
    height: 50px;
    font-family: poppins;   
    font-weight: 400;
}
.orderTable tr:nth-child(even){
    background-color: #892be2a6;
    color: white;
    padding: 0;
}
td img{
    width: 50px;
    height: 25px;
    object-fit: cover;
}
.messageIcon{
    cursor: pointer;
    object-fit: contain;
}